			<div id="article-categories" class="col-xs-12 col-sm-4 col-md-3">
				<div class="panel">
					<p class="article-index">Categories</p>
				</div>
			</div>

			<div id="article-categories" class="col-xs-12 col-sm-4 col-md-3 article-category-lists">
				<div class="panel">
					<p class="cat-title">Events</p>
					<ul>
						{% for post in site.categories['events'] limit:5 %}
							<li class="category-list clearfix">
								<a href="{{ post.url }}">{{ post.title }}</a>
								<span class="date">{{ post.date | date_to_string }}</span>
								<span class="auth">{{ post.author }}</span>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div id="article-categories" class="col-xs-12 col-sm-4 col-md-3 article-category-lists">
				<div class="panel">
					<p class="cat-title">Announcements</p>
					<ul>
						{% for post in site.categories['announcements'] limit:5 %}
							<li class="category-list clearfix">
								<a href="{{ post.url }}">{{ post.title }}</a>
								<span class="date">{{ post.date | date_to_string }}</span>
								<span class="auth">{{ post.author }}</span>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>