	<!-- START Footer Content -->
	<div class="container clearfix footer">
		<div class="row">
			<div class="col-xs-12 tcenter">
				<a href="index.html">
					<img src="assets/images/brand/logo-brown.png" alt="LARS, Inc." style="height: 70px;">
				</a>
			</div>
		</div>
	</div>	
	<footer class="clearfix trans2">
		<p id="fancy">
			<a href="learn-more.html#dev-contact">Contact the LARS, Inc. Dev Team Here!</a>
		</p>
		<div class="container">
			<div class="row clearfix margin-bottom-20">
				<div class="col-xs-12 col-sm-4">
					<ul class="clearfix">
						<li class="b"><a href="index.html" title="LARS Home" class="link-blue">LARS, Inc.</a></li>
						<li><a href="espanol.html" title="Get Help: En Español" class="link-blue">En Espa&ntilde;ol</a></li>
						<li><a href="about.html" class="link-blue" title="About LARS">ABOUT</a></li>
						<li><a href="events.html" class="link-blue" title="LARS Events">EVENTS</a></li>
						<li><a href="get-help.html" class="link-blue" title="Get Help">GET HELP</a></li>
						<li><a href="get-involved.html" class="link-blue" title="Get Involved">GET INVOLVED</a></li>
						<li><a href="site-map.html" class="link-blue" title="LARS Website Map">SITE MAP</a></li>
						<li><a href="changelog.html" class="link-blue" target="_blank" title="LARS Website Change Log">CHANGE LOG</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4">
					<ul class="clearfix">
						<li class="b">HOURS OF OPERATION</li>
						<li><b>Monday</b>: 9:00a.m. - 2:00p.m. &amp;</li>
						<li>5:00p.m. - 7:30p.m.</li>
						<li><b>Wednesday</b>: 9:00a.m. - 2:00p.m.</li>
						<li><b>Friday</b>: 9:00a.m. - 2:00p.m.</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4">
					<ul class="clearfix">
						<li class="b">CALL OR VISIT</li>
						<li>311 Laurel Avenue</li>
						<li>Laurel, MD 20707</li>
						<li>•</li>
						<li><i class="fa fa-phone"></i> 301.776.0442</li>
						<li><i class="fa fa-fax"></i> 301.604.7076</li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 tcenter margin-bottom-40">
					<a href="http://www.guidestar.org/organizations/52-1537336/laurel-advocacy-referral-services.aspx" target="_blank">
						<img src="/assets/images/brand/GSX_TierLogo_GOLD-PNG.png" style="max-height: 97px;">
					</a>
					<a href="http://www.independentcharities.org/find/charitypage.php?id=14&ein=52-1537336&key=laurel+advocacy" target="_blank">
						<img src="/assets/images/brand/ICOA.png" style="max-height: 99px;">
					</a>
				</div>
			</div>
		</div>
	</footer><!-- END Footer Content -->