	<!-- START Footer Content -->
	<div class="container clearfix footer">
		<div class="row">
			<div class="col-xs-12 tcenter">
				<a href="index.html">
					<img src="assets/images/brand/logo-brown.png" alt="LARS, Inc." style="height: 70px;">
				</a>
			</div>
		</div>
	</div>	
	<footer class="clearfix trans2">
		<p id="fancy" class="b-s">
			<a href="learn-more.html#dev-contact">Contact the Development Team <i class="fa fa-commenting-o"></i></a>
		</p>




		<div class="container">
			<div class="row clearfix">
				<div class="col-xs-12 col-md-6">
					<ul class="clearfix">
						<li class="b">HOURS OF OPERATION</li>
						<li><b>Monday</b>: 9:00a.m. - 2:00p.m. &amp; 5:00p.m. - 7:30p.m.</li>
						<li><b>Wednesday</b>: 9:00a.m. - 2:00p.m.</li>
						<li><b>Friday</b>: 9:00a.m. - 2:00p.m.</li>
						<li><i class="fa fa-asterisk lars-orange"></i></li>
					</ul>
				</div>

				<div class="col-xs-12 col-md-6">
					<ul class="clearfix">
						<li class="b">CALL OR VISIT</li>
						<a href="https://www.google.com/maps/place/Laurel+Advocacy+%26+Referral+Services,+Inc./@39.101876,-76.84767,15z/" class="link-blue" target="_blank">
							<li><i class="fa fa-map-marker lars-blue"></i> 311 Laurel Avenue</li>
							<li>Laurel, MD 20707</li>
						</a>
						<li>•</li>
						<li><i class="fa fa-phone lars-green"></i> 301.776.0442</li>
						<li><i class="fa fa-fax lars-purple"></i> 301.604.7076</li>
						<li><i class="fa fa-asterisk lars-orange"></i></li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-md-3">
					<ul>
						<li><a href="about.html" class="link-blue b">About</a></li>
						<li><a href="what-we-do.html" title="About LARS: What We Do" class="link-blue">What We Do</a></li>
						<li><a href="board-and-staff.html" title="About LARS: Our Board and Staff" class="link-blue">Our Team</a></li>
						<!--li><a href="partners.html" title="About LARS: Community Partners">Community Partners</a></li-->
						<li><a href="press.html" title="About LARS: In the News" class="link-blue">In The News</a></li>
						<li><a href="article-index.html" title="About LARS: Blog" class="link-blue">Blog</a></li>
						<li><a href="contact.html" title="About LARS: Contact Us" class="link-blue">Contact Us</a></li>
						<li><i class="fa fa-asterisk lars-orange"></i></li>
					</ul>
				</div>

				<div class="col-xs-12 col-md-3">
					<ul>
						<li><a href="events.html" title="Events: Spring into Summer" class="link-blue b">Events</a></li>
						<li><a href="spring-into-summer.html" title="Events: Spring into Summer" class="link-blue">Spring into Summer</a></li>
						<li><a href="turkey-trot.html" title="Events: Turkey Trot" class="link-blue">Turkey Trot</a></li>
						<li><a href="holiday-program.html" title="Events: Holiday Program" class="link-blue">Holiday Program</a></li>
						<li><i class="fa fa-asterisk lars-orange"></i></li>
					</ul>
				</div>

				<div class="col-xs-12 col-md-3">
					<ul>
						<li><a href="get-help.html" title="Get Help: How to Get Help" class="link-blue b">Get Help</a></li>
						<li><a href="how-to-get-help.html" title="Get Help: How to Get Help" class="link-blue">How To Get Help</a></li>
						<li><a href="food-assistance.html" title="Get Help: Food Assistance" class="link-blue">Food Assistance</a></li>
						<li><a href="homeless-services.html" title="Get Help: Homelessness Services" class="link-blue">Homeless Services</a></li>
						<li><a href="employment-services.html" title="Get Help: Employment Services" class="link-blue">Employment Services</a></li>
						<li><a href="resources.html" title="Get Help: Resources" class="link-blue">Resources</a></li>
						<li><a href="espanol.html" title="Get Help: En Español" class="link-blue">En Espa&ntilde;ol</a></li>
						<li><i class="fa fa-asterisk lars-orange"></i></li>
					</ul>
				</div>

				<div class="col-xs-12 col-md-3">
					<ul>
						<li><a href="volunteer.html" title="Get Involved: Volunteer" class="link-blue b">Get Involved</a></li>
						<li><a href="volunteer.html" title="Get Involved: Volunteer" class="link-blue">Volunteer</a></li>
						<li><a href="donate.html" title="Get Involved: Donate" class="link-blue">Donate</a></li>
						<li><a href="participate.html" title="Get Involved: Participate" class="link-blue">Participate</a></li>
						<li><i class="fa fa-asterisk lars-orange"></i></li>
						<li><a href="site-map.html" title="LARS: Site Map" class="link-blue">Site Map</a></li>
						<li><a href="changelog.html" title="LARS: Change Log" class="link-blue">Change Log</a></li>
					</ul>
				</div>
			</div>
		</div>






		<!--div class="container">
			<div class="row clearfix">
				<div class="col-xs-12 col-sm-4">
					<ul class="clearfix">
						<li class="b"><a href="index.html" title="LARS Home" class="link-blue">LARS, Inc.</a></li>
						<li><a href="espanol.html" title="Get Help: En Español" class="link-blue">En Espa&ntilde;ol</a></li>
						<li><a href="about.html" class="link-blue" title="About LARS">ABOUT</a></li>
						<li><a href="events.html" class="link-blue" title="LARS Events">EVENTS</a></li>
						<li><a href="get-help.html" class="link-blue" title="Get Help">GET HELP</a></li>
						<li><a href="get-involved.html" class="link-blue" title="Get Involved">GET INVOLVED</a></li>
						<li><a href="site-map.html" class="link-blue" title="LARS Website Map">SITE MAP</a></li>
						<li><a href="changelog.html" class="link-blue" target="_blank" title="LARS Website Change Log">CHANGE LOG</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4">
					<ul class="clearfix">
						<li class="b">HOURS OF OPERATION</li>
						<li><b>Monday</b>: 9:00a.m. - 2:00p.m. &amp;</li>
						<li>5:00p.m. - 7:30p.m.</li>
						<li><b>Wednesday</b>: 9:00a.m. - 2:00p.m.</li>
						<li><b>Friday</b>: 9:00a.m. - 2:00p.m.</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4">
					<ul class="clearfix">
						<li class="b">CALL OR VISIT</li>
						<a href="https://www.google.com/maps/place/Laurel+Advocacy+%26+Referral+Services,+Inc./@39.101876,-76.84767,15z/data=!4m2!3m1!1s0x0:0x4a0938e7cd433e6" class="link-blue" target="_blank">
							<li><i class="fa fa-map-marker lars-blue"></i> 311 Laurel Avenue</li>
							<li>Laurel, MD 20707</li>
						</a>
						<li>•</li>
						<li><i class="fa fa-phone lars-green"></i> 301.776.0442</li>
						<li><i class="fa fa-fax lars-purple"></i> 301.604.7076</li>
					</ul>
				</div>
			</div-->

			<div class="row">
				<div class="col-xs-12 tcenter margin-bottom-40">
					<a href="http://www.guidestar.org/organizations/52-1537336/laurel-advocacy-referral-services.aspx" target="_blank">
						<img src="assets/images/brand/GSX_TierLogo_GOLD-PNG.png" style="max-height: 67px;">
					</a>
					<a href="http://www.independentcharities.org/find/charitypage.php?id=14&ein=52-1537336&key=laurel+advocacy" target="_blank">
						<img src="assets/images/brand/ICOA.png" style="max-height: 67px;">
					</a>
				</div>
			</div>
		</div>
	</footer><!-- END Footer Content -->