<!-- START Mobile Navigation Menu -->
<div id="mobile-menu" class="trans2 hidden-md hidden-lg">
	<p><a href="contact.html#mc_embed_signup">Subscribe</a></p><br>

	<a href="search.html" title="Search LARS, Inc.">
		<i class="fa fa-lg fa-search trans2"></i>
	</a>
	<a target="_blank" href="https://www.facebook.com/laureladvocacy" title="LARS on Facebook">
		<i class="fa fa-lg fa-facebook-square trans2"></i>
	</a>
	<a target="_blank" href="https://twitter.com/laureladvocacy" title="LARS on Twitter">
		<i class="fa fa-lg fa-twitter-square trans2"></i>
	</a>

	<a href="index.html"><img src="/assets/images/brand/full-white.png"></a><br>

	<ul id="footer-nav">
		<li class="trans2">
			<a href="index.html" class="trans2">
				<i class="fa fa-home"></i>
				HOME
			</a>
		</li>
		<li class="trans2">
			<a href="espanol.html" class="trans2">
				<i class="fa fa-comments"></i>
				En Espa&ntilde;ol
			</a>
		</li>
		<li class="trans2">
			<a href="about.html" class="trans2">
				<i class="fa fa-info-circle"></i>
				ABOUT
			</a>
		</li>
		<li class="trans2">
			<a href="spring-into-summer.html" class="trans2">
				<i class="fa fa-calendar-check-o"></i>
				EVENTS
			</a>
		</li>
		<li class="trans2">
			<a href="get-help.html" class="trans2">
				<i class="fa fa-heart"></i>
				GET HELP
			</a>
		</li>
		<li class="trans2">
			<a href="get-involved.html" class="trans2">
				<i class="fa fa-users"></i>
				GET INVOLVED
			</a>
		</li>
		<li class="trans2">
			<a href="site-map.html" class="trans2">
				<i class="fa fa-info-circle"></i>
				SITE MAP
			</a>
		</li>
	</ul>
</div><!-- END Mobile Navigation Menu -->