	<!-- START Site Navigation -->
	<!-- START Desktop Navigation -->
	<nav id="desktop-nav" class="hidden-xs hidden-sm">
		<div id="top-shelf" class="trans3 ">
			<ul id="action-ul">
				<li><a href="https://interland3.donorperfect.net/weblink/weblink.aspx?name=E248284&id=1" class="action lars-blue-gradient" target="_blank" title="Donate">Donate</a></li>
				<li class="m-r-10"><a href="espanol.html" class="link-blue trans2" title="Get Help: En Español"> <span>En Espa&ntilde;ol</span></a></li>
				<li class="m-r-10 m-l-10">|</li>
				<li><a href="contact.html#mc_embed_signup" class="link-blue trans2" title="Subscribe to the LARS eNewsletter"><span>Subscribe</span></a></li>
				<li class="m-r-10">|</li>
				<li>
					<a target="_blank" href="https://www.facebook.com/laureladvocacy" title="LARS on Facebook">
						<i class="fa fa-lg fa-facebook fb-blue trans2"></i>
					</a>
				</li>
				<li>
					<a target="_blank" href="https://twitter.com/laureladvocacy" title="LARS on Twitter">
						<i class="fa fa-lg fa-twitter tt-blue trans2"></i>
					</a>
				</li>
				<li>
					<a href="search.html" title="LARS on Twitter">
						<i class="fa fa-lg fa-search lars-blue trans2"></i>
					</a>
				</li>
			</ul>
			<a href="index.html" title="LARS Home">
				<img src="assets/images/brand/base.png" alt="LARS">
				<h3>Laurel Advocacy &amp; Referral Services, Inc.</h3>
			</a>
		</div>
		<div id="bottom-shelf">
			<div class="container clearfix">
				<div id="nav-full" class="row">
					<div class="col-md-12">
						<ul id="parent-ul">
							<li class="lars-home trans2"><a href="index.html" title="LARS Home">HOME &nbsp;<i class="fa fa-lg fa-home lars-blue"></i></a></li>
							<li class="lars-blue trans2">
								<a href="about.html" title="About LARS">ABOUT US &nbsp;
									<i class="fa fa-chevron-down lars-blue hover-off"></i>
									<i class="fa fa-info-circle lars-blue hover-on"></i>
								</a>
								<ul class="trans2">
									<li><a href="what-we-do.html" title="About LARS: What We Do">What We Do</a></li>
									<li><a href="board-and-staff.html" title="About LARS: Our Board and Staff">Our Team</a></li>
									<li><a href="press.html" title="About LARS: In the News">In The News</a></li>
									<li><a href="article-index.html" title="About LARS: Blog">Blog</a></li>
									<li><a href="contact.html" title="About LARS: Contact Us">Contact Us</a></li>
								</ul>
							</li>
							<li class="lars-orange trans2">
								<a href="#" title="Events">EVENTS &nbsp;
									<i class="fa fa-chevron-down lars-orange hover-off"></i>
									<i class="fa fa-calendar-check-o lars-orange hover-on"></i>
								</a>
								<ul class="trans2">
									<li><a href="laurel-community-day.html" title="Events: Spring into Summer">Laurel Community Day</a></li>
									<li><a href="turkey-trot.html" title="Events: Turkey Trot">Turkey Trot</a></li>
									<li><a href="holiday-program.html" title="Events: Holiday Program">Holiday Program</a></li>
								</ul>
							</li>
							<li class="lars-purple trans2">
								<a href="get-help.html" title="Get Help">GET HELP &nbsp;
									<i class="fa fa-chevron-down lars-purple hover-off"></i>
									<i class="fa fa-heart lars-purple hover-on"></i>
								</a>
								<ul class="trans2">
									<li><a href="how-to-get-help.html" title="Get Help: How to Get Help">How To Get Help</a></li>
									<li><a href="food-assistance.html" title="Get Help: Food Assistance">Food Assistance</a></li>
									<li><a href="homeless-services.html" title="Get Help: Homelessness Services">Homeless Services</a></li>
									<li><a href="resources.html" title="Get Help: Resources">Resources</a></li>
									<li><a href="espanol.html" title="Get Help: En Español">En Espa&ntilde;ol</a></li>
								</ul>
							</li class="trans2">
							<li class="lars-green trans2">
								<a href="get-involved.html" title="Get Involved">GET INVOLVED &nbsp;
									<i class="fa fa-chevron-down lars-green hover-off"></i>
									<i class="fa fa-users lars-green hover-on"></i>
								</a>
								<ul class="trans2">
									<li><a href="volunteer.html" title="Get Involved: Volunteer">Volunteer</a></li>
									<li><a href="donate.html" title="Get Involved: Donate">Donate</a></li>
									<li><a href="participate.html" title="Get Involved: Participate">Participate</a></li>
								</ul>
							</li class="trans2">
							<li class="lars-contact trans2"><a href="contact.html" title="Contact Us">CONTACT US <i class="fa fa-lg fa-comments lars-blue"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav><!-- END Desktop Navigation -->

	<!-- START Mobile Navigation -->
	<nav id="mobile-nav" class="hidden-md hidden-lg trans2">
		<table>
			<tr>
				<td id="donate">
					<a href="https://interland3.donorperfect.net/weblink/weblink.aspx?name=E248284&id=1" target="_blank" class="lars-green-gradient">Donate</a>
				</td>
				<td id="name">
					<a href="index.html">LARS, Inc.</a>
				</td>
				<td id="tog">
					<span id="mobile-toggle" class="col-xs-pull-12">
						<i class="fa fa-navicon trans2 p-l-10"></i>
					</span>
				</td>
			</tr>
		</table>
	</nav><!-- END Mobile Navigation -->
	<!-- END Site Navigation -->