	<!-- START Site Navigation -->
	<!-- START Desktop Navigation -->
	<nav id="desktop-nav" class="hidden-xs hidden-sm">
		<div id="top-shelf">
			<ul id="action-ul">
				<li><a href="https://www.givedirect.org/give/givefrm.asp?CID=1079" class="action" target="_blank" title="Donate">Donate</a></li>
				<li><a href="espanol.html" class="link trans2" title="Get Help: En Español"> <span>En Espa&ntilde;ol</span> &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
				<li><a href="contact.html#mc_embed_signup" class="link trans2" title="Subscribe to the LARS eNewsletter">|&nbsp;&nbsp; <span>Subscribe</span> &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</a></li>
				<li>
					<a target="_blank" href="https://www.facebook.com/laureladvocacy" title="LARS on Facebook">
						<i class="fa fa-2x fa-facebook-square trans2"></i>
					</a>
				</li>
				<li>
					<a target="_blank" href="https://twitter.com/laureladvocacy" title="LARS on Twitter">
						<i class="fa fa-2x fa-twitter-square trans2"></i>
					</a>
				</li>
			</ul>
			<a href="index.html" title="LARS Home">
				<img src="assets/images/brand/logo.png" alt="LARS">
				<h3>Laurel Advocacy &amp; Referral Services, Inc.</h3>
			</a>
		</div>
		<div id="bottom-shelf">
			<div class="container clearfix">
				<div id="nav-full" class="row">
					<div class="col-md-12">
						<ul id="parent-ul">
							<li class="trans2"><a href="index.html" title="LARS Home">HOME</a></li>
							<li class="trans2">
								<a href="about.html" title="About LARS">ABOUT US &nbsp;<i class="fa fa-chevron-down"></i></a>
								<ul>
									<li><a href="what-we-do.html" title="About LARS: What We Do">What We Do</a></li>
									<li><a href="board-and-staff.html" title="About LARS: Our Board and Staff">Our Board &amp; Staff</a></li>
									<li><a href="partners.html" title="About LARS: Community Partners">Community Partners</a></li>
									<li><a href="press.html" title="About LARS: In the News">In The News</a></li>
									<li><a href="contact.html" title="About LARS: Contact Us">Contact Us</a></li>
								</ul>
							</li>
							<li class="trans2">
								<a href="events.html" title="Events">EVENTS &nbsp;<i class="fa fa-chevron-down"></i></a>
								<ul class="trans2">
									<li><a href="spring-into-summer.html" title="Events: Spring into Summer">Spring into Summer</a></li>
									<li><a href="turkey-trot.html" title="Events: Turkey Trot">Turkey Trot</a></li>
									<li><a href="holiday-program.html" title="Events: Holiday Program">Holiday Program</a></li>
								</ul>
							</li>
							<li class="trans2">
								<a href="get-help.html" title="Get Help">GET HELP &nbsp;<i class="fa fa-chevron-down"></i></a>
								<ul class="trans2">
									<li><a href="how-to-get-help.html" title="Get Help: How to Get Help">How To Get Help</a></li>
									<li><a href="food-assistance.html" title="Get Help: Food Assistance">Food Assistance</a></li>
									<li><a href="homeless-services.html" title="Get Help: Homelessness Services">Homeless Services</a></li>
									<li><a href="employment-services.html" title="Get Help: Employment Services">Employment Services</a></li>
									<li><a href="resources.html" title="Get Help: Resources">Resources</a></li>
									<li><a href="espanol.html" title="Get Help: En Español">En Espa&ntilde;ol</a></li>
								</ul>
							</li class="trans2">
							<li class="trans2">
								<a href="get-involved.html" title="Get Involved">GET INVOLVED &nbsp;<i class="fa fa-chevron-down"></i></a>
								<ul class="trans2">
									<li><a href="volunteer.html" title="Get Involved: Volunteer">Volunteer</a></li>
									<li><a href="donate.html" title="Get Involved: Donate">Donate</a></li>
									<li><a href="participate.html" title="Get Involved: Participate">Participate</a></li>
								</ul>
							</li class="trans2">
							<li class="trans2"><a href="contact.html" title="Contact Us">CONTACT US</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--div class="container clearfix">
			<div class="row hidden-xs hidden-sm">
				<div class="col-xs-12">
					<ul id="action-ul">
						<li><a href="https://www.givedirect.org/give/givefrm.asp?CID=1079" class="action" target="_blank" title="Donate">Donate</a></li>
						<li><a href="espanol.html" class="link trans2" title="Get Help: En Español"> <span>En Espa&ntilde;ol</span> &nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
						<li><a href="contact.html#mc_embed_signup" class="link trans2" title="Subscribe to the LARS eNewsletter">/&nbsp;&nbsp; <span>Subscribe</span> &nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</a></li>
						<li>
							<a target="_blank" href="https://www.facebook.com/laureladvocacy" title="LARS on Facebook">
								<i class="fa fa-2x fa-facebook-square trans2"></i>
							</a>
						</li>
						<li>
							<a target="_blank" href="https://twitter.com/laureladvocacy" title="LARS on Twitter">
								<i class="fa fa-2x fa-twitter-square trans2"></i>
							</a>
						</li>
					</ul>
				</div>
			</div-->
			<!--div class="row hidden-xs hidden-sm">
				<div class="col-xs-12">
					<a href="index.html" title="LARS Home">
						<img src="assets/images/brand/logo.png" alt="LARS">
						<h1>Laurel Advocacy &amp; Referral Services, Inc.</h1>
					</a>
				</div>
			</div><br><br>
			<div id="nav-full" class="row hidden-xs hidden-sm">
				<div class="col-md-12">
					<ul id="parent-ul">
						<li class="trans2"><a href="index.html" title="LARS Home">HOME</a></li>
						<li class="trans2">
							<a href="about.html" title="About LARS">ABOUT US &nbsp;<i class="fa fa-chevron-down"></i></a>
							<ul>
								<li><a href="what-we-do.html" title="About LARS: What We Do">What We Do</a></li>
								<li><a href="board-and-staff.html" title="About LARS: Our Board and Staff">Our Board &amp; Staff</a></li>
								<li><a href="partners.html" title="About LARS: Community Partners">Community Partners</a></li>
								<li><a href="press.html" title="About LARS: In the News">In The News</a></li>
								<li><a href="contact.html" title="About LARS: Contact Us">Contact Us</a></li>
							</ul>
						</li>
						<li class="trans2">
							<a href="events.html" title="Events">EVENTS &nbsp;<i class="fa fa-chevron-down"></i></a>
							<ul class="trans2">
								<li><a href="spring-into-summer.html" title="Events: Spring into Summer">Spring into Summer</a></li>
								<li><a href="turkey-trot.html" title="Events: Turkey Trot">Turkey Trot</a></li>
								<li><a href="holiday-program.html" title="Events: Holiday Program">Holiday Program</a></li>
							</ul>
						</li>
						<li class="trans2">
							<a href="get-help.html" title="Get Help">GET HELP &nbsp;<i class="fa fa-chevron-down"></i></a>
							<ul class="trans2">
								<li><a href="how-to-get-help.html" title="Get Help: How to Get Help">How To Get Help</a></li>
								<li><a href="food-assistance.html" title="Get Help: Food Assistance">Food Assistance</a></li>
								<li><a href="homeless-services.html" title="Get Help: Homelessness Services">Homeless Services</a></li>
								<li><a href="employment-services.html" title="Get Help: Employment Services">Employment Services</a></li>
								<li><a href="resources.html" title="Get Help: Resources">Resources</a></li>
								<li><a href="espanol.html" title="Get Help: En Español">En Espa&ntilde;ol</a></li>
							</ul>
						</li class="trans2">
						<li class="trans2">
							<a href="get-involved.html" title="Get Involved">GET INVOLVED &nbsp;<i class="fa fa-chevron-down"></i></a>
							<ul class="trans2">
								<li><a href="volunteer.html" title="Get Involved: Volunteer">Volunteer</a></li>
								<li><a href="donate.html" title="Get Involved: Donate">Donate</a></li>
								<li><a href="participate.html" title="Get Involved: Participate">Participate</a></li>
							</ul>
						</li class="trans2">
						<li class="trans2"><a href="contact.html" title="Contact Us">CONTACT US</a></li>
					</ul>
				</div>
			</div>
		</div-->
	</nav><!-- END Desktop Navigation -->

	<!-- START Mobile Navigation -->
	<nav id="mobile-nav" class="hidden-md hidden-lg trans2">
		<div class="container clearfix trans2">
			<div class="row">
				<div class="col-xs-12 tcenter">
					<a href="donate.html" class="btn-nav-min">Donate</a>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-xs-12 tcenter">
					<h1>
						<a href="index.html">LARS, Inc.</a>
					</h1>
				</div>
			</div>

			<div id="mobile-toggle" class="trans2">
				<i class="fa fa-2x fa-navicon trans2"></i>
			</div>
		</div>
	</nav><!-- END Mobile Navigation -->
	<!-- END Site Navigation -->