/*\
|*|  Mobile Navigation
|*|  mobile-nav.css
\*/
#mobile-nav {
	margin-top: -75px;
	padding: 6px 0;
	position: fixed;
	width: 100%;
	background-color: #FFFAFA;
	-webkit-box-shadow: 0px 1px 15px 2px rgba(38,26,18,0.5);
	-moz-box-shadow: 0px 1px 15px 2px rgba(038,26,18,0.5);
	box-shadow: 0px 1px 15px 2px rgba(038,26,18,0.5);
	z-index: 500;
}
#mobile-nav table {
	width: 100%;
}
#mobile-nav td#donate,
#mobile-nav td#tog {
	width: 80px;
}
#mobile-nav td#donate {
	padding: 0 0 0 4px;
	vertical-align: middle;
}
#mobile-nav td#donate a {
	padding: 3px 0;
	display: block;
	border-radius: 3px;
	text-align: center;
	color: #EEE;
}
#mobile-nav td#name a {
	text-align: center;
	display: block;
	font-size: 1.5rem;
}
#mobile-nav td#tog {
	padding: 0 10px 0 0;
	text-align: right;
	font-size: 1.5rem;
}

/*   Mobile Navigation Menu   */
#mobile-menu {
	width: 200px;
	height: 100%;
	position: fixed;
	top: 0;
	right: -200px;
	padding: 5px 15px 0 0;
	background-color: #222;
	text-align: center;
	overflow-y: auto;
	z-index: 500;
}
#mobile-menu img {
	margin: 0 0 0 11px;
	padding-top: 10px;
	width: 94%;
	height: auto;
}
#mobile-menu i {
	margin: 0 10px;
}
#mobile-menu ul {
	margin: 10px 0 0 0;
	list-style: none;
}
#mobile-menu li {
	padding: 0 0 0 10px;
	text-align: left;
	border-top: 1px solid #333;
	border-bottom: 1px solid #111;
	color: #EEE;
}
#mobile-menu li:first-child { border-top: none; }
#mobile-menu li:last-child { border-bottom: none;}

#mobile-menu a {
	color: #EEE;
	font-size: 1rem;
	text-transform: uppercase;
}
#mobile-menu li a {
	padding: 10px 0;
	display: block;
	color: #888;
}
#mobile-menu li:hover {
	background-color: #0072C6;
}
#mobile-menu a:hover {
	color: #FFF;
}

/*   Mobile Toggle / Icon   */
#mobile-toggle {

}

#mobile-toggle i {
	color: #0072C6;
	cursor: pointer;
}
#mobile-toggle:hover i {
	color: #E65520;
}

/*   Active Mobile States   */
.mobile-active {
	padding-right: 200px;
	margin-left: -200px;
}
#mobile-toggle.toggle-active {
	right: 230px;
	overflow: hidden;
}
#mobile-toggle.toggle-active i {
	color: #E65520;
}
.menu-active {
	right: 0 !important;
	-webkit-box-shadow: 0px 7px 10px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 7px 10px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 7px 10px 3px rgba(0,0,0,0.5);
}