

$larsBlue: #0072C6;
$larsLightBlue: #C9E4F2;



$larsOrange: #E44A2B;
$larsLightOrange: #FAD8C1;




$larsPurple: #E7CFFC;
$larsLightPurple: #E7CFFC;




$larsGreen: #DDFFD1;
$larsLightGreen: #DDFFD1;



$facebookBlue: #3C5899;
$twitterBlue: #28A9E0;



