	<!-- START Site Navigation -->
	<!-- START Desktop Navigation -->
	<nav id="desktop-nav" class="hidden-xs hidden-sm">
		<div id="top-shelf">
			<ul id="action-ul">
				<li><a href="/" class="action lars-blue-gradient" title="Home">Home</a></li>
				<li class="m-r-10"><a href="espanol.html" class="link-blue trans2" title="Get Help: En Español"> <span>En Espa&ntilde;ol</span></a></li>
				<li class="m-r-10 m-l-10">|</li>
				<li><a href="contact.html#mc_embed_signup" class="link-blue trans2" title="Subscribe to the LARS eNewsletter"><span>Subscribe</span></a></li>
				<li class="m-r-10">|</li>
				<li>
					<a target="_blank" href="https://www.facebook.com/laureladvocacy" title="LARS on Facebook">
						<i class="fa fa-lg fa-facebook fb-blue trans2"></i>
					</a>
				</li>
				<li>
					<a target="_blank" href="https://twitter.com/laureladvocacy" title="LARS on Twitter">
						<i class="fa fa-lg fa-twitter tt-blue trans2"></i>
					</a>
				</li>
			</ul>
			<a href="/index.html" title="LARS Home">
				<img src="/assets/images/brand/logo.png" alt="LARS">
				<h3>LARS, Inc. • <span class="lars-blue">Blog</span></h3>
			</a>
		</div>
	</nav><!-- END Desktop Navigation -->

	<!-- START Mobile Navigation -->
	<nav id="mobile-nav" class="hidden-md hidden-lg trans2">
		<div class="container clearfix trans2">
			<div class="row">
				<div class="col-xs-12 btn-donate lars-blue-gradient">
					<a href="donate.html">Donate</a>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-xs-12 tcenter">
					<h1>
						<a href="index.html">LARS, Inc.</a>
						<span id="mobile-toggle" class="col-xs-pull-12">
							<i class="fa fa-navicon trans2 p-l-10"></i>
						</span>
					</h1>
				</div>
			</div>
		</div>
	</nav><!-- END Mobile Navigation -->
	<!-- END Site Navigation -->