<!-- START Ribbon Menu -->
<!-- <aside class="ribbon lars-orange-gradient">
	<p>
		<i class="fa fa-bullhorn">
		</i>
		<span>13<sub>th</sub> Annual Turkey Trot</span>
		<a href="turkey-trot.html" class="pointer trans2">
			<i class="fa fa-info-circle"></i> Event Details
		</a>
	</p>
</aside> -->
<!-- END Ribbon Menu -->


<!-- START Ribbon Menu -->
<aside class="ribbon lars-orange-gradient">
	<p>
		<i class="fa fa-bullhorn">
		</i>
		<span>LARS will be closed Friday, March 2<sup style="font-size: xx-small; vertical-align: super;">nd</sup>.</span>
	</p>
</aside><!-- END Ribbon Menu -->