/*\
|*|   @title    Global.css
|*|   @author   Alden J. Curnutt
|*|   @site     http://www.laureladvocacy.org   
|*|   @ver      1.0
|*|   @updated  02 August 2015
\*/


  /******************/
 /*  Site Setters  */
/******************/
body {
	background-color: #F1F1F1;
}

  /**********************/
 /*  Site Font Colors  */
/**********************/
.lars-blue { color: #0072C6; }
.lars-green { color: #429909; }
.lars-purple { color: #3E037A; }
.lars-orange { color: #E43013; }
.fb-blue { color: #3C5899; }
.tt-blue { color: #28A9E0; }
.link-blue { color: #337AB7; border-bottom: 1px solid; border-bottom-style: dashed; text-decoration: none; }
.link-blue:hover { color: #296191; border-bottom: 1px solid; }

  /********************/
 /*  Site Gradients  */
/********************/
.lars-blue-gd {  }
.lars-green-gd {  }
.lars-purple-gd {  }
.lars-orange-gd {  }


  /*******************/
 /*  Ribbon Notice  */
/*******************/
.ribbon {
	text-align: center;
}
.ribbon p {
	display: inline-block;
	padding: 7px 0;
	color: #EEE;
}
.ribbon a {
	margin-left: 5px;
	padding: 0 5px;
	border-radius: 3px;
	border: 1px solid #EEE;
	color: #EEE;
}
.ribbon a:hover {
	background-color: #EEE;
	color: #009408;
}

.ribbon-orange {
	background-color: #7EA62C;
	background: -webkit-linear-gradient(top, #7EA62C, #638223);
	background: -moz-linear-gradient(top, #7EA62C, #638223);
	background: -o-linear-gradient(top, #7EA62C, #638223);
	background: linear-gradient(to bottom, #7EA62C, #638223);
}

  /************************/
 /*  Desktop Nav Styles  */
/************************/

#desktop-nav {
	background-color: #FFFAFA;
	
	background-position: cover;
	border-radius: 2px solid #F5F4DD;
	/*padding-top: 20px;*/
	/*padding-bottom: 5px;*/
	-webkit-box-shadow: 0px 1px 15px 2px rgba(38,26,18,0.5);
	-moz-box-shadow: 0px 1px 15px 2px rgba(038,26,18,0.5);
	box-shadow: 0px 1px 15px 2px rgba(038,26,18,0.5);
}


#desktop-nav #top-shelf {
	height: 35px;
	padding: 10px 10px 0 10px;
}




#desktop-nav .split {
	padding: 0 20px;
}
#desktop-nav svg {
	height: 30px;
	width: 30px;
	margin: -5px 20px 0 0;
}
#action-ul i {
	margin: -3px 20px 0 0;
}

/*   Super Navigation Items   */
#action-ul {
	list-style: none;
}
#action-ul li {
	float: right;
	font-size: 16px;
}
#action-ul .action {
	background-color: #7EA62C;
	background: -webkit-linear-gradient(top, #7EA62C, #638223);
	background: -moz-linear-gradient(top, #7EA62C, #638223);
	background: -o-linear-gradient(top, #7EA62C, #638223);
	background: linear-gradient(to bottom, #7EA62C, #638223);
	border: 1px solid #638223;
	padding: 5px 20px;
	color: #eee;
	border-radius: 3px;
}
#action-ul .action:hover {
	background-color: #638223;
	background: -webkit-linear-gradient(top, #638223, #7EA62C);
	background: -moz-linear-gradient(top, #638223, #7EA62C);
	background: -o-linear-gradient(top, #638223, #7EA62C);
	background: linear-gradient(to bottom, #638223, #7EA62C);
	color: #FFF;
}
/*
#action-ul a:hover span {
	color: #EF7011;
	text-decoration: underline;
}
*/
/*   Title & Dropdowns   */
#desktop-nav #nav-full {
	/*margin-top: 50px;*/
}
#desktop-nav h3 {
	display: inline-block;
	position: relative;
	/*font-size: 35px;*/
	top: -7px;
}
#desktop-nav img {
	height: 30px;
	width: auto;
}
#parent-ul, #parent-ul ul {
	list-style: none;
	margin-left: -20px;
}
#parent-ul > li {
	float: left;
	margin-right: 10px;
	padding: 10px 18px 5px 20px;
}
#parent-ul > li:hover {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
#parent-ul li:hover ul {
	-webkit-box-shadow: 3px 6px 7px 3px rgba(38,26,18,04);
	-moz-box-shadow: 3px 6px 7px 3px rgba(38,26,18,0.4);
	box-shadow: 3px 6px 7px 3px rgba(38,26,18,0.4);
}

/*  Color Specific Styles  */
#parent-ul > li.lars-home:hover { background-color: #0072C6 !important; }
#parent-ul > li.lars-contact:hover { background-color: #0072C6 !important; }

#parent-ul > li.lars-blue:hover { background-color: #0072C6 !important; }
#parent-ul li.lars-blue:hover ul { border-bottom: 5px solid #0072C6; }
#nav-full li.lars-blue ul li:hover { background-color: #0072C6; }

#parent-ul > li.lars-green:hover { background-color: #429909 !important; }
#parent-ul li.lars-green:hover ul { border-bottom: 5px solid #429909; }
#nav-full li.lars-green ul li:hover { background-color: #429909; }

#parent-ul > li.lars-purple:hover { background-color: #3E037A !important; }
#parent-ul li.lars-purple:hover ul { border-bottom: 5px solid #3E037A; }
#nav-full li.lars-purple ul li:hover { background-color: #3E037A; }

#parent-ul > li.lars-orange:hover { background-color: #E43013 !important; }
#parent-ul li.lars-orange:hover ul { border-bottom: 5px solid #E43013; }
#nav-full li.lars-orange ul li:hover { background-color: #E43013; }

#parent-ul li:hover i { color: #EEE; }



#desktop-nav #nav-full ul li:hover {
	
}
#desktop-nav #nav-full ul li a {
	display: block;
}
#desktop-nav #nav-full ul li:hover > a {
	color: #FFF;
}
#desktop-nav #parent-ul ul {
	position: absolute;
	margin: 5px 0 0 -20px;
	z-index: 100;
	display: none;
	max-width: 250px;
	min-width: 200px;
}


#parent-ul ul li {
	background-color: #FFF;
	width: 100%;
	padding: 7px 10px;
}
#parent-ul ul li:not(:last-child) {
	border-bottom: 1px solid #DDD;
}
#desktop-nav #nav-full ul li:hover ul {
	display: table-cell;
}


  /***********************/
 /*  Mobile Navigation  */
/***********************/

#mobile-nav {
	z-index: 500;
	padding: 20px 0 20px;
	background-color: #FBF7F8;
	background-image: url('../../assets/images/images/paper.jpg');
	-webkit-box-shadow: 0px 1px 15px 2px rgba(38,26,18,0.5);
	-moz-box-shadow: 0px 1px 15px 2px rgba(038,26,18,0.5);
	box-shadow: 0px 1px 15px 2px rgba(038,26,18,0.5);
}
#mobile-nav .btn-nav-min {
	background-color: #7EA62C;
	background: -webkit-linear-gradient(top, #7EA62C, #638223);
	background: -moz-linear-gradient(top, #7EA62C, #638223);
	background: -o-linear-gradient(top, #7EA62C, #638223);
	background: linear-gradient(to bottom, #7EA62C, #638223);
	color: #EEE;
	font-size: 20px;
	border-radius: 3px;
	width: 100%;
	padding: 5px 0;
	display: block;
	margin-bottom: 20px;
}
#mobile-nav h1 {
	display: inline-block;
	text-align: center;
}

/*   Mobile Navigation Menu   */
#mobile-menu {
	z-index: 500;
	position: fixed;
	top: 0;
	right: -200px;
	/*right: 0;*/
	width: 200px;
	height: 100%;
	padding: 15px;
	background-color: #212019;
	text-align: center;
	overflow-y: auto;
}
#mobile-menu img {
	width: 70%;
	height: auto;
	padding-top: 10px;
}
#mobile-menu i {
	margin: 0 10px;
}
#mobile-menu ul {
	list-style: none;
}
#mobile-menu li {
	padding: 10px 0;
	text-align: center;
	border-bottom: 1px solid #EEE;
	color: #EEE;
}
#mobile-menu a {
	color: #EEE;
	font-size: 20px;
	text-transform: uppercase;
}
#mobile-menu a:hover {
	color: #FFF;
}

/*   Mobile Toggle / Icon   */
#mobile-toggle {
	position: absolute;
	right: 30px;
	top: 85px;
	display: block;
	cursor: pointer;
}
#mobile-toggle i {
	color: #333;
}
#mobile-toggle:hover i {
	color: #E65520;
}

/*   Active Mobile States   */
.mobile-active {
	padding-right: 200px;
	margin-left: -200px;
}
#mobile-toggle.toggle-active {
	right: 230px;
	overflow: hidden;
}
#mobile-toggle.toggle-active i {
	color: #E65520;
}
.menu-active {
	right: 0 !important;
	-webkit-box-shadow: 0px 7px 10px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 7px 10px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 7px 10px 3px rgba(0,0,0,0.5);
}


  /*******************/
 /*  Home Carousel  */
/*******************/

.cycle-slideshow {
	z-index: 50;
	width: 100%;
	height: 60vh;
	background-color: #fff;
	position: relative;
    overflow: hidden;
    display: block;
}
.cycle-prev, .cycle-next, .cycle-pager {
	z-index: 700;
	color: #EEE;
	cursor: pointer;
	height: 50px;
	width: 15px;
	position: absolute;
}
.controls {
	height: 100px;
	width: 50px;
	top: 40%;
	margin-top: -25px;
	background-color: rgba(0, 0, 0, 0.3);
	-o-transition:.2s; -ms-transition:.2s; -moz-transition:.2s; -webkit-transition:.2s; transition:.2s;	 
}
.cycle-prev {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.cycle-next, .cycle-pager {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.controls i {
	margin: 25px 0 0 4px;
	color: rgba(29, 183, 238, 0.6);
	-o-transition:.2s; -ms-transition:.2s; -moz-transition:.2s; -webkit-transition:.2s; transition:.2s;	 
}
.controls:hover { background-color: rgba(0, 0, 0, 0.7); }
.controls:hover i { color: rgba(29, 183, 238, 1); }
.cycle-prev { left: 1px; }
.cycle-next { right: 1px; }
.cycle-pager {
	margin: 0 1px 0 0;
	list-style: none;
	width: 170px;
	height: 34px;
	z-index: 700;
	text-align: center;
	right: 0;
	top: 20px;
	background-color: rgba(0, 0, 0, 0.7);
	color: rgba(0, 0, 0, 0.0);
}

.cycle-pager span {
	width: 15px;
	height: 15px;
	display: inline-block;
	background-color: #EEE;
	border-radius: 50%;
	margin: 9px 10px;
	text-indent: 100%;
	white-space: nowrap;
	text-align: center;
}
.cycle-pager-active {
	background-color: #1DB7EE !important;
}
.cradle {
	height: 100%;
	width: 100%;
	position: relative;
	text-align: right;
}
.cradle img { box-shadow: inset 0 0 10px 5px rgba(0,0,0,0.5); }
.cradle-support {
	z-index: 6;
	max-width: 80%;
	padding: 10px 20px;
	position: absolute;
	bottom: 20px;
	right: 0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	background-color: rgba(0, 0, 0, 0.7);
}
.cradle-support p { color: #FFF; }
.cradle-support h3 {
	color: #FFF;
	margin: 0;
	padding: 0 0 5px 0;
}
.cradle-support p {
	font-size: 16px;
	line-height: 22px;
	padding: 0 0 8px 0;
}
.cradle-support a {
	border: 1px solid #1DB7EE;
	padding: 0 5px;
	color: #FFF;
	border-radius: 3px;
	-o-transition:.2s; -ms-transition:.2s; -moz-transition:.2s; -webkit-transition:.2s; transition:.2s;
}
.cradle-support a:hover { background-color: #1DB7EE; }
.cradle img {
	z-index: 5;
	width: 100%;
	height: 100%;
	background-size: cover;
}


  /**************************/
 /*   In Page Navigation   */
/**************************/

.nav-inpage {

}
.nav-inpage .nav-inpage-title {
	font-weight: bold;
	background-color: #CCC;
	/*
	background: -webkit-linear-gradient(top, #7EA62C, #638223);
	background: -moz-linear-gradient(top, #7EA62C, #638223);
	background: -o-linear-gradient(top, #7EA62C, #638223);
	background: linear-gradient(to bottom, #7EA62C, #638223);
	*/
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border: 0px;
}
.nav-inpage .nav-inpage-title-blue {
	background: -webkit-linear-gradient(top, #0072C6, #005B9E);
	background: -moz-linear-gradient(top, #0072C6, #005B9E);
	background: -o-linear-gradient(top, #0072C6, #005B9E);
	background: linear-gradient(to bottom, #0072C6, #005B9E);
}

.nav-inpage ul {
	list-style: none;
	background-color: #FFFAFA;
	/*padding: 15px;*/
	border-radius: 5px;
	-webkit-box-shadow: 0 0 7px 0.5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 7px 0.5px rgba(0,0,0,0.4);
	box-shadow: 0 0 7px 0.5px rgba(0,0,0,0.4);
}
.nav-inpage li {
	padding: 15px;
	font-size: 20px;
}

/*   In Page Nav Title   */
.nav-inpage .nav-inpage-title {
	font-weight: bold;
	background-color: #CCC;
	/*background: -webkit-linear-gradient(top, #7EA62C, #638223);
	background: -moz-linear-gradient(top, #7EA62C, #638223);
	background: -o-linear-gradient(top, #7EA62C, #638223);
	background: linear-gradient(to bottom, #7EA62C, #638223);*/
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 0px;
}
.nav-inpage .nav-inpage-title a {
	color: #EEE !important;
	text-decoration: none !important;
}
.nav-inpage .nav-inpage-title:hover {
	border: none;
	text-align: left;
	padding-left: 15px;
}

/*   In Page Nav Links   */
.nav-inpage hr {
	border-top: 3px solid #638223;
	margin-bottom: -1px;
}
.nav-inpage li {
	border-top: 1px solid grey;
	border-left: 3px solid #FCF9EF;
}
.nav-inpage li:hover {
	background-color: #FCFCFC;
	border-left: 3px solid #638223;
	padding-left: 30px;
}
.nav-inpage a {
	display: block;
	color: #333 !important;
	text-decoration: none !important;
}

/*   In Page Nav Selected   */
.nav-inpage .nav-inpage-selected {
	padding-left: 30px;
	border-left: 3px solid #638223;
	background-color: #FCFCFC;
}
.nav-inpage .nav-inpage-selected a {
	color: #333;
	font-weight: bold;
}
.nav-inpage .nav-inpage-selected:hover {
	border-left: 3px solid #22475E;
	background-color: #FCFCFC;
	padding-left: 30px;
}


  /**********************/
 /*   Content Styles   */
/**********************/

#page-content-wrap {
	position: relative;
	z-index: 500;
}
.body-content {
	margin-top: 40px;
	color: #444;
}

/*   General Classes   */
.orange {
	color: #EF7011;
}
.green {
	color: #7EA62C;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}
.margin-bottom-40 {
	margin-bottom: 20px;
}
.margin-top-20 {
	margin-top: 20px;
}
.margin-top-40 {
	margin-top: 40px;
}

/*   Panel Def: Panel Elements   */
.panel {
	background-color: #FFFAFA;
	margin: 10px 0;
	padding: 5px 10px;
	position: relative;
	font-size: 1rem;
	border-radius: 3px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	text-align: center;
}
.panel .panel {
	margin: -5px -20px -5px -10px;
	box-shadow: none;
}

.row-full-width {
	background-color: #FFF;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
.row-full-width .col-full-width {
	padding: 10px 10px;
}
.row-full-width .panel {
	box-shadow: none;
}

.panel a {
	color: #337AB7;
	border-bottom: 1px solid;
	border-bottom-style: dashed;
	text-decoration: none;
}
.panel a:hover {
	color: #296191;
	border-bottom: 1px solid;
}
.panel a.link {
	position: absolute;
	right: 10px;
	text-decoration: none;
	border: none;
	text-transform: uppercase;
	font-size: .80rem;
	cursor: pointer;
}
.panel h3 {
	margin: 12px 0 8px 0;
	padding: 0 0 8px 0;
	text-align: left;
}
.panel p {
	margin: 0 0 1rem 0;
	line-height: 1.4em;
	text-align: left;

}
.panel a.cta {
	display: inline-block;
	padding: 5px 15px;
	border-radius: 3px;
	color: #FFF;
	cursor: pointer;
}
.panel a.cta:hover {
	
}

.panel-blue .link { color: #0072C6; }
.panel-blue .link:after { content: "About • LARS" }
.panel-blue h3 { border-bottom: 3px solid #0072C6; }
.panel-blue a.cta { background-color: #0072C6; border: 1px solid #0072C6; }

.panel-green {

}
.panel-green .link { color: #429909; }
.panel-green .link:after { content: "Events • LARS" }
.panel-green h3 { border-bottom: 3px solid #429909; }
.panel-green a.cta { background-color: #429909; border: 1px solid #429909; }

.panel-purple {

}
.panel-purple .link { color: #3E037A; }
.panel-purple .link:after { content: "Get Help • LARS" }
.panel-purple h3 { border-bottom: 3px solid #3E037A; }
.panel-purple a.cta { background-color: #3E037A; border: 1px solid #3E037A; }

.panel-orange {

}
.panel-orange .link { color: #E43013; }
.panel-orange .link:after { content: "Get Involved • LARS" }
.panel-orange h3 { border-bottom: 3px solid #E43013; }
.panel-orange a.cta { background-color: #E43013; border: 1px solid #E43013; }






/*
.body-content h2, h3, h4, h5 {
	margin-bottom: 20px;
	padding-top: 10px;
}
*/
.body-content p {
	margin-bottom: 15px;
	line-height: 1.5em;
}

/*   Panel Def: -Dropshadow  */
.transparent-padding {
	padding: 15px;
}
.panel-bone-padding {
	background-color: #FCF9EA;
	padding: 15px;
	border-radius: 3px;
	margin-bottom: 40px;
}
.panel-white-padding {
	background-color: #FFF;
	padding: 15px;
	margin-bottom: 40px;
}

/*   Panel Def: +Dropshadow   */
.body-content .panel-white {
	display: block;
	margin-bottom: 40px;
	background-color: #FFF;
	padding: 15px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 7px 0.5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 7px 0.5px rgba(0,0,0,0.4);
	box-shadow: 0 0 7px 0.5px rgba(0,0,0,0.4);
}
.body-content .panel-bone {
	display: block;
	margin-bottom: 40px;
	background-color: #FBF7F8;
	padding: 15px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 7px 0.5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 7px 0.5px rgba(0,0,0,0.4);
	box-shadow: 0 0 7px 0.5px rgba(0,0,0,0.4);
}

/*   Panel Def: Images   */
.panel-img-side {
	text-align: center !important;
}
.panel-img-side img {
	width: 100%;
	height: auto;
}

/*   Panel Def: Panel Lists   */
ul.ul-standard {
	padding-left: 40px;
	list-style: disc;
}
ul.ul-standard li {
	line-height: 1.5em;
	margin-bottom: 15px;
}
ul.ul-modified {
	padding-left: 40px;
	list-style: none;
}
ul.ul-modified li {
	line-height: 1.5em;
	margin-bottom: 15px;
}
ul.ul-faq {
	padding-left: 30px;
	list-style: none;
}
ul.ul-faq li {
	line-height: 1.5em;
	margin: -10px 0 15px;

}
ul.ul-faq li:before {
	font-weight: bold;

	content: "A: ";
}

/*   Panel Def: Anchors   */
.body-content a {
	color: #638223;
	text-decoration: underline;
}
.body-content a:hover {
	color: #7EA62C;
	text-decoration: underline;
}


/*   Panel Def: Mood hr   */
.body-content hr.green {
	margin-bottom: 20px;
	border-top: 3px solid #0C9636;
}
.body-content hr.orange {
	margin-bottom: 20px;
	border-top: 3px solid #E65520;
}
.body-content hr.brown {
	margin-bottom: 20px;
	border-top: 3px solid #6B4A31;
}

/*   Panel Def: CTA Buttons +Green   */
div.cta-button-green {
	margin-top: 20px;
	text-align: center;
}
div.cta-button-green a {
	display: inline-block;
	padding: 10px 45px;
	color: #EEE;
	font-size: 20px;
	background-color: #7EA62C;
	background: -webkit-linear-gradient(top, #7EA62C, #638223);
	background: -moz-linear-gradient(top, #7EA62C, #638223);
	background: -o-linear-gradient(top, #7EA62C, #638223);
	background: linear-gradient(to bottom, #7EA62C, #638223);
	border-radius: 5px;
	border: 1px solid #638223;
	cursor: pointer;
	text-decoration: none !important;
}
div.cta-button-green a:hover {
	background-color: #638223;
	background: -webkit-linear-gradient(top, #638223, #7EA62C);
	background: -moz-linear-gradient(top, #638223, #7EA62C);
	background: -o-linear-gradient(top, #638223, #7EA62C);
	background: linear-gradient(to bottom, #638223, #7EA62C);
	color: #FFF;
}

/*   Panel Def:; CTA Buttons +Orange   */
div.cta-button-orange {
	margin-top: 20px;
	text-align: center;
}
div.cta-button-orange a {
	display: inline-block;
	padding: 10px 45px;
	color: #EEE;
	font-size: 20px;
	background-color: #EF7011;
	background: -webkit-linear-gradient(top, #EF7011, #E65520);
	background: -moz-linear-gradient(top, #EF7011, #E65520);
	background: -o-linear-gradient(top, #EF7011, #E65520);
	background: linear-gradient(to bottom, #EF7011, #E65520);
	border-radius: 5px;
	border: 1px solid #A84E1E;
	cursor: pointer;
	text-decoration: none !important;
}
div.cta-button-orange a:hover {
	background-color: #E65520;
	background: -webkit-linear-gradient(top, #E65520, #EF7011);
	background: -moz-linear-gradient(top, #E65520, #EF7011);
	background: -o-linear-gradient(top, #E65520, #EF7011);
	background: linear-gradient(to bottom, #E65520, #EF7011);
	color: #FFF;
}

/*   Panel Def: CTA Buttons +Brown   */
div.cta-button-brown {
	margin-top: 20px;
	text-align: center;
}
div.cta-button-brown a {
	display: inline-block;
	padding: 10px 45px;
	color: #EEE;
	font-size: 20px;
	background-color: #875D3E;
	background: -webkit-linear-gradient(top, #875D3E, #6B4A31);
	background: -moz-linear-gradient(top, #875D3E, #6B4A31);
	background: -o-linear-gradient(top, #875D3E, #6B4A31);
	background: linear-gradient(to bottom, #875D3E, #6B4A31);
	border-radius: 5px;
	border: 1px solid #6B4A31;
	cursor: pointer;
	text-decoration: none !important;
}
div.cta-button-brown a:hover {
	background-color: #6B4A31;
	background: -webkit-linear-gradient(top, #6B4A31, #875D3E);
	background: -moz-linear-gradient(top, #6B4A31, #875D3E);
	background: -o-linear-gradient(top, #6B4A31, #875D3E);
	background: linear-gradient(to bottom, #6B4A31, #875D3E);
	color: #FFF;
}

/*   Panel Def: Full Width Bkg +Bone   */
.full-width-bone {
	background-color: #FBF7F8;
	border-top: 1px solid #E0DED0;
	border-bottom: 1px solid #E0DED0;
}

/*   Panel Def: Full Width Bkg +Orange   */
.full-width-orange {
	background-color: #EF7011;
	border-top: 1px solid #E65520;
	border-bottom: 1px solid #E65520;
}

/*   Panel Def: Full Width Bkg +Brown   */
.full-width-brown {
	background-color: #6B4A31;
	border-top: 1px solid #6B4A31;
	border-bottom: 1px solid #6B4A31;
}


/*   Panel Def: Full Width Bkg +Green   */
.full-width-green {
	background-color: #638223;
	border-top: 1px solid #638223;
	border-bottom: 1px solid #638223;
}

p.note {
	color: #EEE;
	font-size: 35px;
	text-align: center;
	margin: 0;
	padding: 15px 0;
}

/*   Panel Def: Staff / Board Profiles   */
.profile-img-container {
	height: 100%;
	text-align: center !important;
}
.profile {
	display: block;
}
.profile h4 {
	margin-bottom: 10px;
}
.profile img {
	text-align: center !important;
	margin: 10px 20px 10px 0;
	border-radius: 100%;
	border: 2px solid #0072C6;
}
.bio-hid {
	height: 10.5em;
	overflow: hidden;
}


.show-bio {
	/*padding-top: 12em;*/
}
.show-bio:hover {
	color: #EF7011;
}


/*   Panel Def: Press Show More / Less   */
.read-more {
	height: 4.5em;
	overflow: hidden;
}
.read-less {
	height: 100%;
}
.show {
	border-top: 1px solid #CFCBCC;
}
.show:hover {
	color: #EF7011;
}
.new-new:before {
	content: "New!";
	padding: 2px 7px 1px;
	margin-right: 10px;
	background-color: #EF7011;
	background: -webkit-linear-gradient(top, #EF7011, #E65520);
	background: -moz-linear-gradient(top, #EF7011, #E65520);
	background: -o-linear-gradient(top, #EF7011, #E65520);
	background: linear-gradient(to bottom, #EF7011, #E65520);
	border-radius: 5px;
	color: #EEE;
	text-decoration: none;
}

/*   Panel Def: Contact: Mail Chimp Input   */
#mce-EMAIL {
	height: 35px;
	width: 75%;
	padding-left: 5px;
	border: 1px solid green;
}
#mc-embedded-subscribe {
	margin-top: 20px;
	padding: 10px 45px;
	color: #EEE;
	font-size: 20px;
	background-color: #7EA62C;
	background: -webkit-linear-gradient(top, #7EA62C, #638223);
	background: -moz-linear-gradient(top, #7EA62C, #638223);
	background: -o-linear-gradient(top, #7EA62C, #638223);
	background: linear-gradient(to bottom, #7EA62C, #638223);
	border-radius: 5px;
	border: 1px solid #638223;
	cursor: pointer;
}
#mc-embedded-subscribe:hover {
	background-color: #638223;
	background: -webkit-linear-gradient(top, #638223, #7EA62C);
	background: -moz-linear-gradient(top, #638223, #7EA62C);
	background: -o-linear-gradient(top, #638223, #7EA62C);
	background: linear-gradient(to bottom, #638223, #7EA62C);
	color: #FFF;
}

/*  Panel Def: Contact Forms   */
ul.ul-contact {
	margin-bottom: 5px;
	padding: 0 15px
}
ul.ul-contact .title {
	background-color: #EF7011;
	background: -webkit-linear-gradient(top, #EF7011, #E65520);
	background: -moz-linear-gradient(top, #EF7011, #E65520);
	background: -o-linear-gradient(top, #EF7011, #E65520);
	background: linear-gradient(to bottom, #EF7011, #E65520);
	border-radius: 5px;
	padding: 0 0 0 10px;
	font-size: 25px;
	color: #EEE;
}
ul.ul-contact .title:hover {
	background-color: #E65520;
	background: -webkit-linear-gradient(top, #E65520, #EF7011);
	background: -moz-linear-gradient(top, #E65520, #EF7011);
	background: -o-linear-gradient(top, #E65520, #EF7011);
	background: linear-gradient(to bottom, #E65520, #EF7011);
}
.plus:after {
	content: ' +';
	font-weight: bold;
}
.minus:after {
	content: ' -';
}
ul.ul-contact .body {
	display: none;
	padding: 10px 0 10px 0;
}
iframe.contact {
	min-height: 900px;
	width: 100%;
}
iframe.developer {
	min-height: 1100px;
	width: 100%;	
}
iframe.volunteer {
	width: 100%;
	min-height: 1300px;
}
iframe.donate {
	width: 100%;
	min-height: 1300px
}

/*   Panel Def: Contact: Social   */
.social {
	text-align: center;
}
.social svg {
	height: 100px;
	width: auto;
	margin: 15px 20px;
}
.social path {
	fill: #638223;
}
.social path:hover {
	fill: #7EA62C;
}

/*  Panel Def: Quotes   */
.quotes {
	background-image: url('../images/images/open-quote.png'), url('../images/images/close-quote.png');
	background-repeat: no-repeat;
	background-position: top left, right bottom;
}
.quotes div {
	padding: 10px 0 20px 40px;
}

  /*********************/
 /*   Footer Styles   */
/*********************/

/*   Developer Note   */
#fancy {
    width: 100%;
    margin: 0 0 30px 0;
    padding: 4px 0;
    background-color: #7EA62C;
    text-align: center;
}
#fancy a {
	color: #EEE;
	text-decoration: underline;
}

 /*   Footer Content   */
footer {
	margin: 30px 0 0 0 ;
	background-color: #FFFAFA;
    
    text-align: center;
    -webkit-box-shadow: inset 0px 5px 7px rgba(38,26,18,0.5);
    -moz-box-shadow: inset 0px 5px 7px rgba(38,26,18,0.5);
    box-shadow: inset 0px 5px 7px rgba(38,26,18,0.5);
}
footer ul {
    list-style: none;
    margin-bottom: 30px;
}
footer ul li {
    line-height: 1.75em;
}

/*   Footer Qualifications   */
footer img {
	padding: 0 15px;
	border-radius: 3px;
}