{% include articles/head.html %}

<body>

<!-- START Page Wrap -->
<div id="page-content-wrap" class="trans2">

	{% include articles/nav.html %}

	<div id="breadcrumb-nav" class="row clearfix">
		<div class="col-xs-12">
			<div class="panel">
				<a href="/index.html">Home</a> / <a href="/article-index.html">Blog Index</a> / <a href="#" class="tcap">{{ page.category[0] }}</a>
			</div>
		</div>
	</div>

	<div class="content">

		<div class="row clearfix">
			<div id="article-content" class="col-xs-12 col-sm-8 col-md-9">
				<div class="panel">
					<div id="article-meta">
						<span class="cat">{{ page.category[0] }}</span>
						<span class="author">by <span class="b lars-blue">{{ page.author }}</span> on</span>
						<span class="timestamp em b"> {{ page.date | date: '%B %d, %Y' }}</span>
					</div>
					
					{{ content }}

					<div id="article-meta-footer">
						<br>
						<span class="author"><span class="b lars-blue">{{ page.author }}</span> •</span>
						<span class="timestamp em b"> {{ page.date | date: '%B %d, %Y' }}</span>
					</div>
				</div>
			</div>

			{% include articles/article-categories.html %}

		</div>

	</div>

	{% include articles/footer.html %}

</div><!-- END Page Wrap -->

{% include mobilemenu.html %}

</body>
</html>