{% include articles/head.html %}

<body>

<!-- START Page Wrap -->
<div id="page-content-wrap" class="trans2">

	{% include articles/nav.html %}

	<div id="breadcrumb-nav" class="row clearfix">
		<div class="col-xs-12">
			<div class="panel">
				<a href="/index.html">Home</a> / <a href="/{{ page.location }}">{{ page.friendly-location }}</a> / <a href="#" class="tcap">{{ page.category[0] }}</a>
			</div>
		</div>
	</div>

	<div class="content">
		<div id="description" style="display: none;">{{ page.description }}</div>
		
		<div class="row clearfix">
			<div id="article-content" class="col-xs-12 col-sm-8 col-md-9">
				<div class="panel">

					{{ content }}

				</div>
			</div>

			{% include articles/article-categories.html %}

		</div>

	</div>

	{% include articles/footer.html %}

</div><!-- END Page Wrap -->

{% include mobilemenu.html %}

</body>
</html>